@media screen and (min-width: 480px) {
    header {
        background-color: #eeeeee;
        color: black;
        text-align: center;
        padding: 5px;
        widht: 100%;
        margin-bottom: 1%;
        overflow: hidden;
    }

    header h1 {
        display: inline-block;
        vertical-align: middle;
    }

    header img {
        display: inline-block;
        vertical-align: middle;
    }

    nav {
        line-height: 30px;
        padding-top: 10px;
        height: 300px;
        width: 14%;
        float: left;
    }

    nav li{
        display: block;
        border-bottom: 1px solid black;
        text-align: center;
    }

    nav a{
        text-decoration: none;
    }

    nav li:hover{
        background-color:#cccccc;
    }

    nav li:active{
        background-color:#999999;
    }

    nav ul{
        list-style-type: none;
        padding:0;
        margin:0;
        -webkit-padding-start: 0;
    }


    article {
        width: 80%;
        padding-top: 10px;
        padding-right: 1%;
        padding-left: 1%;
        border-left: 1px solid black;
        margin-bottom: 1%;
        padding-bottom: 1%;
        float: left;
    }

    .news div {
        display: block;
        width: 45%;
        float: left;
        padding: 0.5%;
    }

    .news div h3 {
        color: blue;
    }

    footer {
        background-color: #eeeeee;
        color: black;
        clear: both;
        text-align: center;
        padding: 5px;
    }
}

@media screen and (max-width: 480px) {
    header {
        background-color: #eeeeee;
        color: black;
        text-align: center;
        padding: 5px;
        widht: 100%;
        margin-bottom: 1%;
        overflow: hidden;
    }

    header h1 {
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    header img {
        width:100px;
        display: inline-block;
        vertical-align: middle;
    }

    nav {
        line-height: 30px;
        padding-top: 10px;
        width: 14%;
        padding: 0px;
        text-align: left;
    }


    nav .current{
        display: block;
        background-image: url(images/icon_list.png);
        background-size: 25px 25px;
        background-repeat: no-repeat;
        padding-left:30px;
    }

    nav ul{
        padding-top:10px;
        width: 180px;

        box-shadow: 0 1px 2px rgba(0,0,0,.3);
    }
    nav li{
        display: none;
        margin: 0;
    }

    nav a{
        display: block;
        text-decoration: none;
        text-align: left;
    }


    nav .current a {
        background: none;
        color: #666;
    }

    /* on nav hover */
    nav ul:hover {
        background-image: none;
    }
    nav ul:hover li {
        display: block;
        margin: 0 0 5px;
    }
    nav ul:hover .current {
        background-image: url(images/icon_list.png);
        background-size: 25px 25px;
        background-repeat: no-repeat;

    }


    article h2{
        text-align:center;
        padding: 0.5% 0.5% 0px 0.5%;
        margin-bottom:0px;
    }

    .news div {
        display: block;
        width: 100%;
        float: left;
        padding: 0px 0.5% 0.5% 0.5%;
    }

    .news div h3 {
        color: blue;
    }

    footer {
        background-color: #eeeeee;
        color: black;
        clear: both;
        text-align: center;
        padding: 5px;
    }
}